.idea/
venv/
__pycache__/

*.pyc
comic_git_engine
your_content/voyages/comics/S108/.post.txt.kate-swp
your_content/comics/14-13/Thumbs.db
your_content/comics/14-13/Thumbs.db:encryptable
your_content/extracomics/comics/ANewChance/Thumbs.db
your_content/extracomics/comics/ANewChance/Thumbs.db:encryptable
